<label>
    {{radio-button checked='thing' value='one'}} One
</label>
<br>
<label>
    {{radio-button checked='thing' value='two'}} Two
</label>
<br>
<label>
    {{radio-button checked='thing' value='three'}} Three
</label>
<br>
<label>
    {{radio-button checked='thing' value='four'}} Four
</label>
<br>
<div>Currently selected: {{thing}}</div>