<label>
    {{radio-button name='thing' value='tv'}} One
</label>
<br>
<label>
    {{radio-button name='thing' value='tv'}} Two
</label>
<br>
<label>
    {{radio-button name='thing' value='tv'}} Three
</label>
<br>
<label>
    {{radio-button name='thing' value='tv'}} Four
</label>
<br>
<div>Currently selected: {{selection}}</div>