<label>
    {{radio-button name='thing' value='one' checked=selection}} One
</label>
<br>
<label>
    {{radio-button name='thing' value='two' checked=selection}} Two
</label>
<br>
<label>
    {{radio-button name='thing' value='three' checked=selection}} Three
</label>
<br>
<label>
    {{radio-button name='thing' value='four' checked=selection}} Four
</label>
<br>
<div>Currently selected: {{selection}}</div>